<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="openaccess" type="Telerik.OpenAccess.Config.ConfigSectionHandler, Telerik.OpenAccess.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="teamthing" connectionString="data source=(local)\SQLEXPRESS;initial catalog=TeamThingDb;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <openaccess xmlns="http://www.telerik.com/OpenAccess">
    <references />
    <connections>
      <connection id="teamthing">
        <connectionString>data source=(local)\SQLEXPRESS;initial catalog=TeamThingDb;integrated security=True</connectionString>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
      </connection>
    </connections>
    <backendconfigurations>
      <backendconfiguration id="mssqlConfiguration" backend="mssql">
        <mappingname>mssqlMapping</mappingname>
        <logging.logEvents>verbose</logging.logEvents>
        <logDownloader.filename>H:\Documents\Telerik\TFS\Mercury\openaccess-log.txt</logDownloader.filename>
        <logDownloader.eventText>True</logDownloader.eventText>
      </backendconfiguration>
    </backendconfigurations>
    <mappings current="mssqlMapping">
      <mapping id="mssqlMapping">
        <namespace name="Mercury.Model">
          <class name="Team">
            <extension key="db-key-generator" value="AUTOINC" />
            <field name="teamMembers">
              <collection>
                <extension key="db-link-table" />
                <extension key="ordered" value="false" />
              </collection>
            </field>
          </class>
          <class name="TeamMember">
            <extension key="db-key-generator" value="AUTOINC" />
            <field name="things" behavior="readonly">
              <collection>
                <extension key="db-link-table">
                  <extension key="db-table-name" value="team_member_things" />
                </extension>
                <extension key="ordered" value="false" />
              </collection>
            </field>
            <field name="profileColor">
              <extension key="db-column">
                <extension key="db-length" value="20" />
              </extension>
            </field>
            <field name="team" behavior="readonly" />
          </class>
          <class name="ThingBase">
            <extension key="db-key-generator" value="AUTOINC" />
            <field name="description">
              <extension key="db-column">
                <extension key="db-sql-type" value="VARCHAR(MAX)" />
                <extension key="db-length" value="1024" />
              </extension>
            </field>
          </class>
          <class name="ThingSource">
            <field name="things" behavior="readonly">
              <collection>
                <extension key="db-link-table" />
                <extension key="ordered" value="false" />
              </collection>
            </field>
            <extension key="db-key-generator" value="AUTOINC" />
            <field name="messageBody">
              <extension key="db-column">
                <extension key="db-sql-type" value="VARCHAR(MAX)" />
                <extension key="db-length" value="1024" />
              </extension>
            </field>
          </class>
          <class name="EmailLog">
            <extension key="db-key-generator" value="AUTOINC" />
            <field name="teamMember" behavior="insertonly">
              <extension key="db-constraint" value="{no}" />
            </field>
            <field name="team">
              <extension key="db-constraint" value="{no}" />
            </field>
          </class>
        </namespace>
      </mapping>
    </mappings>
  </openaccess>
</configuration>