<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="TeamThingV2" connectionString="data source=.\sqlexpress;initial catalog=TeamThingV2;integrated security=True" providerName="System.Data.SqlClient" />-->
    <add name="TeamThingV2" connectionString="Server=b2897ddd-6ab5-4446-8886-a006012edd51.sqlserver.sequelizer.com;Database=dbb2897ddd6ab544468886a006012edd51;User ID=lihfapefwskhjkgl;Password=UAFyAmS6sb2n2sSMHexJX8xvrRZpYVKxmuEGnYMphzxTWj2mAQvmWBkVcjhRtBfD;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VisualStudioDesignTime:Enabled" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Telerik.OpenAccess, Version=2012.2.607.1, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" />
      </assemblies>
    </compilation>
    <authentication mode="Forms"></authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--REQUIRED TO ENABLE PUT AND DELETE VERBS!!!!-->
      <remove name="WebDAVModule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <!-- 
					http://hacks.mozilla.org/2009/07/cross-site-xmlhttprequest-with-cors/
					Uncomment to serve cross-domain ajax requests-->
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="PUT, POST, GET, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="X-AuthToken, X-AuthProvider" />
        <add name="X-UA-Compatible" value="chrome=1,IE=Edge" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.8.0" newVersion="3.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
    <dependentAssembly>
      <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
      <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
    </dependentAssembly>
  </runtime>
</configuration>