@charset "UTF-8";
/* CSS Document */

/*
|--------------------------------------------------------------------------
|	BEGIN: TABS
|--------------------------------------------------------------------------
*/

.me-icon, .team-icon {float:left; margin-right: 5px;}

.me-icon {
	width: 23px;
	height: 23px;
	background-image: url(../images/my-things.png);
}

#tabstrip {
	position:relative;
}

#tabstrip li.k-state-active .me-icon{background-position-x: -27px;}

.team-icon {	
	width: 28px;
	height: 23px;
	background-image: url(../images/team-things.png);}
	
#tabstrip li.k-state-active .team-icon{background-position-x: -31px;}

#tabstrip li.k-first{
	border-radius: 7px 0 0 7px;
	width: 126px;
}

#tabstrip li.k-last{
	border-radius: 0 7px 7px 0;
	border-left:0;
	width: 197px;
}

#tabstrip li.k-state-active a{color: #fff; vertical-align: text-top;}
#tabstrip li.k-state-active a:hover{text-decoration:none;}

#tabstrip li a {color: #797979;}

.mythingslink img, .myteamsthingslink img{vertical-align: text-bottom;}

#tabstrip li:first-child.k-state-active{
	background: transparent url(../images/tab_sm.png) no-repeat;
	border: 0;
	width: 126px;
	height: 39px;
	padding:10px;
}

#tabstrip li:last-child.k-state-active{
	background: transparent url(../images/tab_lg.png) no-repeat;
	border: 0;
	width: 197px;
	height: 39px;
	padding:10px;
}
/*
|--------------------------------------------------------------------------
|	END: TABS
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|	BEGIN: LIST FILTER TOOLS
|--------------------------------------------------------------------------
*/

#tabstrip #statusfilter {
	position:absolute;
	top:10px;
	right:0;
	height:32px;
	margin:0;
	padding:0;
	display:block;
	background:none;
}

#statusfilter #statusfilterlist {
	width:100px;	
}

/*
|--------------------------------------------------------------------------
|	END: LIST FILTER TOOLS
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|	BEGIN: THING STATUS CHECKBOX
|--------------------------------------------------------------------------
*/
input[type="checkbox"] {
	-webkit-appearance:none;
	outline: none;
	width: 118px;
	height: 23px;
	
	position: relative;
	border-radius: 12px;
	-webkit-background-clip: padding-box;
	
	border: 0;
	border-bottom: 1px solid transparent;
	-webkit-perspective: 200;
}

input[type="checkbox"]:before, input[type="checkbox"]:after {
	font: bold 12px helvetica;
	line-height:16px;
	text-align: 	center;
	position: 	absolute;
	z-index: 	1;
    width: 			118px;
	height: 		20px;
	border-radius: 12px;
    border: 0;
}

input[type="checkbox"]:before {
	content: 	attr(data-icon1);
	color: #fff;

}

input[type="checkbox"]:after {
	content: 	attr(data-icon2);
	color: #fff;
}

/* ----------- active/inactve */

/* Active */
input[type="checkbox"]:before {
	color: #fff;
	text-shadow: 	rgba(0,0,0,.5) 0 1px 1px, #696969 0 0 10px;
	-webkit-transform: none;
	background-image: -webkit-gradient( linear, left top, left bottom,
		from( 	hsl(100,44%,44%) ), to( hsl(100,40%,60%) )
	);
	-webkit-border-image: none;
	-webkit-box-shadow: none;
	padding-top: 4px;
	z-index: 	2;					
}

input[type="checkbox"]:checked:after {
	color: #fff;
	text-shadow: 	rgba(0,0,0,.5) 0 1px 1px, #0589c8 0 0 10px;
	-webkit-transform: none;
	background-image: -webkit-gradient( linear, left top, left bottom,
		from( 	hsl(9,55%,48%) ), to( hsl(9,66%,60%) )
	);
	-webkit-border-image: none;
	-webkit-box-shadow: none;
	padding-top: 4px;
	z-index: 	2;					
}

/* Inactive */
input[type="checkbox"]:after, input[type="checkbox"]:checked:before {
	color: #000;
	text-shadow: rgba(255,255,255,.1) 0 -1px 0;
	-webkit-box-reflect: none;
	z-index: 	1;
}



/* ----------- hover */

input[type="checkbox"]:hover {
	cursor: pointer;
}

input[type="checkbox"]:hover:before {
	background-image: -webkit-gradient( linear, left top, left bottom,
		from( 	hsl(100,40%,60%) ), to( hsl(100,44%,44%) )
	);

}
input[type="checkbox"]:hover:after {
	background-image: -webkit-gradient( linear, left top, left bottom,
		from( hsl(9,66%,60%) ), to( hsl(9,55%,48%) )
	);
}

input[type="checkbox"]:checked:hover:before {
	background-image: -webkit-gradient( linear, 30% top, 60% bottom, 
		from( hsl(100,40%,60%) ),to( hsl(100,44%,44%) ) 
	);

}
input[type="checkbox"]:checked:hover:after {
	background-image: -webkit-gradient( linear, left top, left bottom,
		from( hsl(9,66%,60%) ), to( hsl(9,55%,48%) )
	);
}
/*
|--------------------------------------------------------------------------
|	END: THING STATUS CHECKBOX
|--------------------------------------------------------------------------
*/

/*Start CSS*/

html,
body {
	width:100%; /* Needed to avoid a redrawing bug in Firefox when resizing windows */
	height:100%;
	margin:0;
	padding:0;
	background:#ffffff;
	font-family: 'Cabin Condensed', helvetica;
	font-size: 14px;
	
}

form {margin:0; padding:0;}

a {text-decoration:none; color:#348fff;}
a:hover {text-decoration:underline;}

#headercontainer {background: #e8e8e8; 
padding: 20px 0px;
margin-bottom: 20px;
-moz-box-shadow: 0px 3px 2px #d8d8d8;
-webkit-box-shadow: 0px 3px 2px #d8d8d8;
box-shadow: 0px 3px 2px #d8d8d8;
}

header.mainheader {display:block; 
margin-left:auto;
margin-right:auto;
width:960px;}


/*
|--------------------------------------------------------------------------
|	BEGIN: USER INFO
|--------------------------------------------------------------------------
*/
#userinfo {float:right; width:150px; text-align:right; font-size:18px; padding-bottom:5px;overflow: hidden;text-overflow: ellipsis;}

.usernav {white-space:nowrap; font-size:14px;}


#userpic {
	width:55px; 
	height: 55px;
	/*-webkit-mask: url(../images/picmask.png);*/ 
	float:right;
	margin-left:10px;
	border: 1px solid #fff;
	-webkit-box-shadow: 0px 1px 2px 0px #9c9c9c;
	box-shadow: 0px 1px 2px 0px #9c9c9c;
}

#userpic, #userpic img {
	width: 55px;
	height: 55px;
	-webkit-border-radius: 55px;
}
/*
|--------------------------------------------------------------------------
|	END: USER INFO
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|	BEGIN: CREATE THING BUTTON
|--------------------------------------------------------------------------
*/
#creatething:before {
	position: absolute;
	right:101%;
	content:url(../images/asterick.png); 
	z-index:300;
	top:-2px;

}
#creatething {float:right; width:auto;
	position: relative;
	background: #358fff;
	color:#ffffff;
	border: 1px solid #c2e1f5;
	padding:7px 15px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	z-index:200;
	margin: 7px 20px;
	font-family: Helvetica, helvetica;
}
#creatething:after {
	right: 98%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#creatething:after {
	border-right-color: #358fff;
	border-width: 14px;
	top: 50%;
	margin-top: -14px;
}
/*
|--------------------------------------------------------------------------
|	END: CREATE THING BUTTON
|--------------------------------------------------------------------------
*/

#main {
	margin-left:auto;
	margin-right:auto;
	width:960px;
}

aside {float:right; width: 260px;}

aside p {padding:5px 20px;}

/*
|--------------------------------------------------------------------------
|	BEGIN: SIDEBAR TEAM LIST POD
|--------------------------------------------------------------------------
*/
#teamlist {float:right; width:auto;}

#teamlist:before {
	position: absolute;
	right:101%;
	content:url(../images/teamlist.png); 
	z-index:300;
	top:-2px;

}
#teamlist {float:right; width:auto;
	position: relative;
	background: #358fff;
	color:#ffffff;
	border: 1px solid #c2e1f5;
	padding:5px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	z-index:200;
	margin: 7px 25px;
	font-family: Helvetica, helvetica;
	
}
#teamlist:after {
	right: 98%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#teamlist:after {
	border-right-color: #358fff;
	border-width: 14px;
	top: 50%;
	margin-top: -14px;
}

.plus {float:right; border-left: 1px solid #cccccc; padding:1px 8px 0 15px;}

.myteam {
	color:#cccccc;
	border: 1px solid #c7c8ca;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	position:relative;
	display:block;
	overflow:visible;
	height:auto;
}

.myteam #myteam-members {
	padding:4px;
	position:relative;
	display:block;
	overflow:visible;
	height:auto;
}

.myteam #myteam-members .member {
	/*-webkit-mask: url(../images/picmask.png);*/
	width: 60px;
	height:62px;
	overflow: hidden;
	text-overflow: ellipsis;
	float:left;
	margin:0 11px;
	padding:10px 0;
	font-size:11px;
	color:#696969;
	text-align:center;
	line-height:16px;
	position:relative;
	display:inline;
}

.myteam #myteam-members .member.float {
	float:left;
}

.userpic {
	width: 55px;
	height: 55px;
	display:block;
	-webkit-border-radius: 30px;
	border: 1px solid #fff;
	-webkit-box-shadow: 0px 1px 2px 0px #9c9c9c;
	box-shadow: 0px 1px 2px 0px #9c9c9c;
}

.userpic img {
	width: 55px;
	height: 55px;
	display:block;
	-webkit-border-radius: 30px;
}

.myteam #myteam-members .userpic:hover {
	cursor: move;
}

.myteam #myteam-members .userpic, .myteam #myteam-members .userpic img {
	width: 55px;
	height: 55px;
	display:block;
	-webkit-border-radius: 30px;
}

.myteam #myteam-members .member .userpic.dragged {
	-webkit-box-shadow: 0px 0px 8px 8px #006600;
	box-shadow: 0px 0px 8px 8px #006600;
}

/*
|--------------------------------------------------------------------------
|	END: SIDEBAR TEAM LIST POD
|--------------------------------------------------------------------------
*/

header.section { 
	font-family:Helvetica, Arial, sans-serif;
	color:#808080; 
	padding:10px;
	margin-top:3px;
	border-bottom:1px solid #cccccc;
	background-color:f9f9f9;
	background-image: linear-gradient(bottom, rgb(238,238,238) 4%, rgb(249,249,249) 52%);
	background-image: -o-linear-gradient(bottom, rgb(238,238,238) 4%, rgb(249,249,249) 52%);
	background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 4%, rgb(249,249,249) 52%);
	background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 4%, rgb(249,249,249) 52%);
	background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 4%, rgb(249,249,249) 52%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.04, rgb(238,238,238)),
	color-stop(0.52, rgb(249,249,249))
	);
	font-weight:bold;
	font-size:18px;
	text-shadow: 1px 1px 2px #ccc;
	-moz-box-shadow: 0px 3px 2px #d8d8d8;
	-webkit-box-shadow: 0px 3px 2px #d8d8d8;
	box-shadow: 0px 2px 2px #d8d8d8;
}

header.section .sidebar-header {
	font-family:Helvetica, Arial, sans-serif;
	color:#808080;
	text-shadow: 0px 2px 3px #efefef;
	font-size:16px;
	font-weight:bold;
	line-height:18px;
	margin:4px 0 0 10px;
}
/*
|--------------------------------------------------------------------------
|	BEGIN: TAB STRIP STRUCTURE
|--------------------------------------------------------------------------
*/	
#tabstrip {background-color:#ffffff; border:0; margin:0; padding:0;}

#tabstrip ul li {color:#808080; padding:10px;margin-top:3px; margin-bottom: -10px; height:23px;
background-color:f9f9f9;
background-image: linear-gradient(bottom, rgb(238,238,238) 4%, rgb(249,249,249) 52%);
background-image: -o-linear-gradient(bottom, rgb(238,238,238) 4%, rgb(249,249,249) 52%);
background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 4%, rgb(249,249,249) 52%);
background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 4%, rgb(249,249,249) 52%);
background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 4%, rgb(249,249,249) 52%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.04, rgb(238,238,238)),
	color-stop(0.52, rgb(249,249,249))
);
font-weight:bold;
font-size:18px;
text-shadow: 1px 1px 2px #ccc;
border: 1px solid #c7c8ca;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
 }

#tabstrip ul li:hover {background-color:f9f9f9;
background-image: linear-gradient(bottom, rgb(249,249,249) 4%), rgb(238,238,238) 52%;
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.04, rgb(249,249,249)),
	color-stop(0.52, rgb(238,238,238))
);}

#tabstrip ul li {font-weight:bold;
font-size:18px;
text-shadow: 1px 1px 2px #ccc;
font-family: Helvetica, helvetica; padding:10px;}
/*
|--------------------------------------------------------------------------
|	END: TAB STRIP STRUCTURE
|--------------------------------------------------------------------------
*/

#mainsection {width:660px;}

#mainsection .list {
	background-color:#f7f7f7;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 0px 3px 2px #d8d8d8;
	-webkit-box-shadow: 0px 3px 2px #d8d8d8;
	box-shadow: 2px 2px 2px #d8d8d8; 
	padding:20px 20px 20px 15px;
	position:relative;
	display:block;
	overflow:visible;
}

.listitem { 
	width:510px;
	height:74px;
	margin:5px 65px 0 65px;
	background: #ffffff;
	color:#333;
	border: 1px solid #cccccc;
	padding:6px 15px 6px 0px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	position:relative;
	left:35px;
	display:block;
}

.listitem:after, .listitem:before {
	right: 99.5%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index:250;
}

.listitem:after {
	border-right-color: #ffffff;
	border-width: 43px;
	top: 50%;
	margin-top: -43px;
}

.listitem:before {
	border-right-color: #cccccc;
	border-width: 44px;
	top: 50%;
	margin-top: -44px;
}	

/*
|--------------------------------------------------------------------------
|	BEGIN: THING POD
|--------------------------------------------------------------------------
*/	
.thing {
	/*clear:both;*/
	margin-bottom:20px;
	position:relative;
	display:block;
	overflow:visible;
}

.thing .listpic {
	/*-webkit-mask: url(../images/listpicmask.png); */
	float:left;
	position:relative; 
	z-index:260;
	border:2px solid #fff;
	-webkit-box-shadow: 0px 1px 2px 0px #9c9c9c;
	box-shadow: 0px 1px 2px 0px #9c9c9c;
}

.thing .listpic, .thing .listpic img {
	width: 83px;
	height: 83px;
	-webkit-border-radius:480px;
}

.thing .users-count {
	width:24px;
	height:24px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:24px;
	color:#fff;
	text-align:center;
	font-weight:bold;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd705c), color-stop(100%,#ae4d3b));
	background: -webkit-linear-gradient(top, #dd705c 0%,#ae4d3b 100%);
	background-color:#AE4D3B;
    text-shadow: 0px 1px 2px #8d3727;
	border-radius: 24px;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	position:absolute;
	top:59px;
	left:55px;
	display:block;
	border:2px solid #fff;
	z-index:1000;
	-webkit-box-shadow: 0px 1px 2px 0px #9c9c9c;
	box-shadow: 0px 1px 2px 0px #9c9c9c;
}

.thing .users-count, .thing .users-count:hover, .thing .users-count.over, .thing .users-count:active, .thing .users-count:visited {
	color:#fff;
	text-decoration:none;
	text-shadow:none;
}

/* ---------- THING CONTROLS ---------- */
.thingcontrols {float:right;}

.star {
	width:30px;
	height:31px;
	float:right;
	position: absolute;
	top:0;
	right:0;
	display:block;
	background:url(../images/star.png) 0 0 no-repeat;
}

.star:hover, .star.over, .star.active {
	background:url(../images/star.png) 0 -31px no-repeat;
}

.controls {
	padding:0px; 
	width:150px;
}

.thingdesc {width:330px;}

.iconcontrols {margin:5px 0 0 4px; width:150px;height:16px;display:block;}

.icon_complete {
	/*text-indent:-9999px;*/
	float:left;
	margin-right:11px;
}

.icon_complete a {
	width: 25px; 
	height: 16px;
	background: url(../images/complete.png) 0 0 no-repeat;
	display:block;
}

.icon_complete a:hover {
	background-position:-27px 0;
}

.icon_delete {
	/*text-indent:-9999px;*/
	float:left;
	margin-right:5px;
}

.icon_delete a {
	width: 18px; 
	height: 16px;
	background:url(../images/delete.png) 0 0 no-repeat;
	display:block;
}

.icon_delete a:hover {
	background-position:-20px 0px;
}

.icon_edit {
	/*text-indent:-9999px;*/
	float:left;
	margin-right:11px;
}

.icon_edit a {
	width:19px; 
	height: 16px;
	background: url(../images/edit.png) 0 0 no-repeat;
	display:block;
}

.icon_edit a:hover {
	background-position:-21px 0px;
}

.icon_share {
	/*text-indent:-9999px;*/
	float:left;
	margin-right:13px;
}

.icon_share a {
	width: 19px;
	height: 16px;
	background: url(../images/share.png) 0 0 no-repeat;
	display:block;
}

.icon_share a:hover {
	background-position:-21px 0px;
}

/* ---------- USERS TRAY ---------- */
.thing .users-tray {
	height:65px;
	margin:0 6px 5px 110px;
	padding:8px 8px 0 8px;
	background-color:#e6e6e6;
	border:1px #ccc solid;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	border-top:none;
	position:relative;
	text-align:left;
	overflow:scroll;
}

.thing .users-tray .userpic {
	/*-webkit-mask: url(../images/picmask.png);*/
	float:left;
	margin:0 8px 8px 0;
}

.thing .users-tray .userpic, .thing .users-tray .userpic img {
	width: 55px;
	height: 55px;
	-webkit-border-radius: 30px;
}

.thing .users-tray .userpic-dropzone {
	width: 55px;
	height: 55px;
	float:left;
	margin:4px 8px 0 0;
	background:url(../images/add-team-member.png) 0 0 no-repeat;
}

.thing .users-tray .userpic-dropzone.processing {
	background:url(../kendoui/styles/Silver/loading-image.gif) 0 0 no-repeat;
}
/*
|--------------------------------------------------------------------------
|	END: THING POD
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|	BEGIN: CREATE THING POP UP WINDOW EDITOR
|--------------------------------------------------------------------------
*/
#createthinginfo, #editthinginfo {
	margin:0;
	padding:0;
	background-color:#fff;
}

#createthinginfo ul, #editthinginfo ul {
	margin:5px;
	padding:5px;
	list-style:none;
	position:relative;
	display:block;
}

#createthinginfo ul li, #editthinginfo ul li {
	margin-bottom:20px;
}

/*
|--------------------------------------------------------------------------
|	END: CREATE THING POP UP WINDOW EDITOR
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|	BEGIN: ADD USERS POPUP LISTING
|--------------------------------------------------------------------------
*/

#addtoteam {
	margin:0;
	padding:10px;
	background-color:#fff;
}

#addtoteam ul {
	margin:5px;
	padding:5px;
	list-style:none;
	position:relative;
	display:block;
}

#addtoteam ul li {
	margin-bottom:20px;
}

#big-bold-copy {
	clear:both;
	font-size:18px;
	font-weight:bold;
	padding-bottom:15px;
}

a.memberlistitem {
	margin:0;
	padding:7px 4px;
	position:relative;
	display:block;
	overflow:visible;
	line-height:30px;
	clear:both;
}

a.memberlistitem .imgwrap {
	margin:0 12px 0 0;
	position:relative;
	display:block;
	float:left;
	border:2px solid #fff;
	-webkit-box-shadow: 0px 1px 2px 0px #9c9c9c;
	box-shadow: 0px 1px 2px 0px #9c9c9c;
}

a.memberlistitem .imgwrap, a.memberlistitem .imgwrap img {
	width: 32px;
	height: 32px;
	-webkit-border-radius:60px;
}

a.memberlistitem:hover, a.memberlistitem.over {
	background-color:#bec5d0;
}
/*
|--------------------------------------------------------------------------
|	END: ADD USERS POPUP LISTING
|--------------------------------------------------------------------------
*/

.mythingslist .list #loading-div {
	width:100%;
	margin:0;
	padding:100px 0;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	display:block;
	background: rgba(255, 255, 255, 0.5);
	z-index:100000;
}

.clear-float {
	clear:both;
	height:0;
	display:block;
}

.k-combobox, #statusfilter #statusfilterlist {
	font-size:10px!important;
}

.completed-status {
	font-weight:bold;
	color:#0fa8f8;
}