.teamdesc {
	margin:10px 0;
	width:330px;
	font-size:20px;
}

.thing .team-admin-tools {
	margin:0;
	padding:0;
	position:absolute;
	top:7px;
	right:0;
	display:block;
}

.leave-team-btn {
	padding:5px 7px 0 0;
}

/*
|--------------------------------------------------------------------------
|	BEGIN: USER PROFILE INFO
|--------------------------------------------------------------------------
*/

#user-profile-details {
	margin-bottom:15px;
	padding:0;
	position:relative;
}

#userinfo-profile {
	margin-top:20px;
	text-align:left;
	font-size:20px;
	float:left;
}

#userpic-profile {
	width:96px; 
	height:96px;
	float:left;
	margin-right:25px;
	border:2px solid #fff;
	-webkit-box-shadow: 0px 1px 2px 0px #9c9c9c;
	box-shadow: 0px 1px 2px 0px #9c9c9c;
}

#userpic-profile, #userpic-profile img {
	width:96px;
	height:96px;
	-webkit-border-radius:55px;
}

#user-profile-details #add-team-btn {
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	right:0;
	display:block;
}
/*
|--------------------------------------------------------------------------
|	END: USER PROFILE INFO
|--------------------------------------------------------------------------
*/

.list-heading {
	font-family:Helvetica, Arial, sans-serif;
	color:#808080;
	text-shadow: 0px 2px 3px #fff;
	font-size:18px;
	font-weight:bold;
	line-height:18px;
	margin:0 0 20px 0;
}

/*
|--------------------------------------------------------------------------
|	BEGIN: CREATE THING POP UP WINDOW EDITOR
|--------------------------------------------------------------------------
*/
#createteamwindow {
	margin:0;
	padding:0;
	background-color:#fff;
}

#createteamwindow ul {
	margin:5px;
	padding:5px;
	list-style:none;
	position:relative;
	display:block;
}

#createteamwindow ul li {
	margin-bottom:20px;
}

/*
|--------------------------------------------------------------------------
|	END: CREATE THING POP UP WINDOW EDITOR
|--------------------------------------------------------------------------
*/
