
<p>Hi,</p>
<p>It's a happy day!  You have been approved to work on the TeamThing @Model.Team.Name@(Model.Team.Name.EndsWith("team", StringComparison.OrdinalIgnoreCase)?"":"team")!</p>
<p>Sincerely,</p>
<p>TeamThing Team</p>