
<p>Hi,</p>
<p>It's a sad day!  You have been denied access to the TeamThing @Model.Team.Name@(Model.Team.Name.EndsWith("team", StringComparison.OrdinalIgnoreCase)?"":"team")!</p>
<p>Keep your head up slugger. There are more teams in the sea, and if <i>no one</i> wants you, make a team of one!</p>
<p>Sincerely,</p>
<p>TeamThing Team</p>