
<p>Hi,</p>
<p>It's a great day!  You have been invited to join the TeamThing @Model.Team.Name@(Model.Team.Name.EndsWith("team", StringComparison.OrdinalIgnoreCase)?"":"team")!</p>
<p>Go forth, do work!</p>
<p>Sincerely,</p>
<p>TeamThing Team</p>