html,form,body
{
    width:100%;
    margin:0;
    padding:0;    
}

h1,h2,h3,h4,h5
{
    margin:0;
    padding:0;
    font-family: 'Lobster', Arial, Serif;
}

h1{font-size:1.45em;}
h2{font-size:1.25em;}
h3{font-size:1.0em;}
h4{font-size:.8em;}

ul
{
    list-style:none;
    padding:0;
}

body
{
    background:#555;
    color:#FFF;
    font-family: Tahoma, Arial, Sans-Serif;
}

#hd
{
    padding:8px;
    border-bottom:solid 2px #444;
}

#bd
{
    padding:0;
}

#content
{
    width:100%;
}

.bkgnd-smooth-dark
{
    background: #222;    
}

.tasklist
{
    list-style:none;
    font-family: 'Droid Sans',Arial,Sans-serif;
    font-size:1.15em;
    margin:0;
    padding:0;
}

.tasklist li
{
    display:block;
    border:solid 1px #777;
    background:#888;
    min-height:30px;
    padding:5px;
    margin:0 0 1px 0;
    position:relative;
    border-bottom:solid 1px #222;
}

.tasklist li.done
{
    color:#888;
    background:#555;
}

.tasktext
{
    margin-left:28px;
    display:block;   
}

.status
{
    height:20px;
    width:20px;  
    border-bottom:solid 1px #CCC;
    border-right:solid 1px #CCC;
    border-top:solid 1px #666;
    border-left:solid 1px #666;
    margin-bottom:5px;
    position:absolute;
    top:5px;
    left:-28px;
    display:block;
}

.status.inprogress{background:#EFC70E;}
.status.done{background:#3B5F35;}
.status.delayed{background:#83AFBF;}


#msg
{
    padding:3px;
    width:100%;
    font-family:Arial, Sans-Serif;
    font-size:90%;
    display:block;
    background:#444;
}

.success
{
    background-color:Green;
}

.fail
{
    background-color:red;
}