<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TeamThingV2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TeamThingV2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="TeamThingV2" connectionString="Server=b2897ddd-6ab5-4446-8886-a006012edd51.sqlserver.sequelizer.com;Database=dbb2897ddd6ab544468886a006012edd51;User ID=lihfapefwskhjkgl;Password=LcPfa3oEgCRCftcCwFzVGhoS8KdVHDZASVLREBoGgTfF2NgGP44XaA2DW5fxYz6J;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>