<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="openaccess" type="Telerik.OpenAccess.Config.ConfigSectionHandler, Telerik.OpenAccess.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="emailServer" value="imap.gmail.com"/>
    <add key="emailPort" value="993" />
    <add key="emailUsername" value="teamthing" />
    <add key="emailPassword" value="t3@mthing" />
    <add key="testMode" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="MercuryDb" connectionString="data source=(local)\SQLEXPRESS;initial catalog=TeamThingDb;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="EventLog"
          type="System.Diagnostics.EventLogTraceListener"
          initializeData="TeamThing"/>
        <add name="LogFile"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="C:\temp\MercuryConsole.log" />
      </listeners>
    </trace>
    <sources>
      <source name="DefaultSource" />
      <source name="EventLog" />
      <source name="LogFile" />
    </sources>
  </system.diagnostics>
  <system.net>
    <mailSettings>
      <smtp from="teamthing@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="25" password="t3@mthing" userName="teamthing@gmail.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <openaccess xmlns="http://www.telerik.com/OpenAccess">
    <references>
      <reference assemblyname="Mercury.Model" configrequired="True" />
      <reference assemblyname="Mercury.Data" configrequired="True" />
    </references>
    <connections>
      <connection id="MercuryDb">
        <connectionString>Data Source=(local)\SQLEXPRESS;Initial Catalog=TeamThingDb;Integrated Security=True</connectionString>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
      </connection>
    </connections>
    <backendconfigurations>
      <backendconfiguration id="mssqlConfiguration" backend="mssql">
        <mappingname>mssqlMapping</mappingname>
      </backendconfiguration>
    </backendconfigurations>
    <mappings current="mssqlMapping">
      <mapping id="mssqlMapping" />
    </mappings>
  </openaccess>
</configuration>